<html>
    <head>
        <title>{% block title %}Filmothèque{% endblock %} </title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{{ asset('bundles/BlogBundle/css/main.css') }}" type="text/css" media="all" />
    </head>
    <body>
        <div id="page">
            <div id="header">
		<ul id="menu">
		    <li><a href="{# path('myapp_accueil') #}">Accueil</a></li>
		    <li><a href="{# path('myapp_film_lister') #}">Films</a></li>
		    <li><a href="{# path('myapp_acteur_lister') #}">Acteurs</a></li>                    
		</ul>
            </div>

            <div id="content">
                <h1>{{ block('title') }}</h1>
                {% block content %}
                {% endblock %}
            </div>
            <div id="footer">
                <p>Tous droits réservés © 2011</p>
            </div>
        </div>
    </body>
</html>