html, body, form, fieldset {
    margin: 0;
    padding: 0;
}

ol, ul{
    margin: 0;
}

body{
    color: #FFF;
    font: normal 90% Tahoma, Verdana, Helvetica, sans-serif;
}
#page {
    width: 980px;
    margin: 0 auto;
    border: 2px solid red; 
}
a{
    color: #08C;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}