{% extends 'BlogBundle::layout.html.twig' %}

{% block title %}
{% endblock %}
{% block sdz_body %}
    <h2> Ajouter un article </h2>
    {% include "BlogBundle:Blog:formulaire.html.twig" %}
    
    <p>
        
    </p>
    
{% endblock %}